<div class="qoob-block qoob-cards qoob-cards-{{id}}" style="background-image: url({{bgImageUrl}});">
        <div class="qb-container">
            <div class="qoob-header">
                {{#if header}}
                    <h2 class="qoob-header__title qoob-header__title_color_white">{{header}}<span>{{header2}}</span></h2>
                {{/if}}
            </div>
        </div>
        <div class="qb-container qb-container_nopadding">
            {{#if cards.length}}
                {{#each_with_sort cards "order"}}
                    <div class="qb-column qb-1-2 qb-mobile-1-1 {{#ifIsNthItem nth=2}} qb-column-margin-none {{/ifIsNthItem}}">
                        <div class="qoob-card">
                            <div class="qoob-card__item">
                                    <div class="qoob-card__front">
                                        <div class="qoob-card__inner">
                                        {{#if iconFront}}
                                            <div class="qoob-card__icon"><span class="{{iconFront}}"></span></div>
                                        {{/if}}
                                        {{#if headerFront}}
                                            <div class="qoob-card__header"><h4 class="qoob-card__headertext">{{headerFront}}</h4></div>
                                        {{/if}}
                                        </div>
                                    </div>
                                    <div class="qoob-card__back">
                                    <div class="qoob-card__inner">
                                        {{#if iconBack}}
                                            <div class="qoob-card__icon"><span class="{{iconBack}}"></span></div>
                                        {{/if}}
                                        {{#if headerBack}}
                                            <div class="qoob-card__header"><h4 class="qoob-card__headertext">{{headerBack}}</h4></div>
                                        {{/if}}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                {{/each_with_sort}}
                        <div class="qb-column qb-1-2 qb-mobile-1-1  qb-column-margin-none">
                            <div class="qoob-card">
                                <div class="qoob-card__item">
                                      <h3>{{card-text1}}<span>{{card-text2}}</span></h3>
                                      <h5>{{card-text3}}</h5>  
                                </div>
                            </div>
                        </div>
                    </div>
            {{/if}}
        </div>
</div>

<script type="text/javascript">
    jQuery('.qoob-cards-{{id}} .qoob-card__item').on('click', function() {
        jQuery(this).toggleClass('qoob-card__item_flipped');
    });
    jQuery(document).ready(function() {
        var borderWidth = parseInt(jQuery('.qoob-cards-{{id}}').find('.qoob-card__item').css("border-width"));

        jQuery('.qoob-cards-{{id}}').find('.qoob-card__inner').each(function(){
            jQuery(this).parents('.qoob-card').height(jQuery(this).outerHeight() + borderWidth * 2);
        });
    });
    jQuery(window).resize(function() {
        jQuery('.qoob-cards-{{id}}').find('.qoob-card').height('');
        var borderWidth = parseInt(jQuery('.qoob-cards-{{id}}').find('.qoob-card__item').css("border-width"));
        jQuery('.qoob-cards-{{id}}').find('.qoob-card__inner').each(function(){
            jQuery(this).parents('.qoob-card').height(jQuery(this).outerHeight() + borderWidth * 2);
        });
    });
</script> 
