<div id="{{block_id}}">
<img src="{{image}}" class="brand">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h3>{{header}}</h3>
					<img src="{{image2}}" class="logo-title">
					<h1>{{header-2}}&nbsp;<span>{{header-3}}</span></h1>			
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->